@charset "UTF-8";
/*@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue-webfont.ttf');
}
*/
@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BebasNeue-webfont.woff') format('woff'),
		 url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
		 url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/MyriadPro-webfont.eot');
	src: url('../fonts/MyriadPro-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-webfont.otf') format('opentype'),
		 url('../fonts/MyriadPro-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	color: #343434;
	font-family: "MyriadProRegular", Helvetica, Arial, Sans-serif;
	font-size: 14px;
	background: #f8f8f8 url('../img/bg/bg-site.jpg');
	background-size: cover;
}
h1,h2,h3,h4,h5,h6 {margin: 0;}

a.more {
	color: #f14e00;
	text-decoration: none;
}

/* Clases para control de estrucutra y flujo */
.clearfix:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.fClear		{clear: both;}
.fLeft		{float: left;}
.fRight		{float: right;}
.fCenter 	{clear:both; margin: 0 auto;}
.aLeft		{text-align: left;}
.aRight		{text-align: right;}
.aCenter	{text-align: center;}
.aJustify	{text-align: justify;}
img.aLeft	{float: left; margin: 0 1em 1em 0;}
img.aRight	{float: right; margin: 0 0 1em 1em;}
img.aCenter	{clear: both; display: block; margin: 1em auto;}

/*#########################################################################*/
				/* ESTRUCTURA GENERAL ( solamente 'box model') */
/*#########################################################################*/

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
}

#main-container {
	background: #f8f8f8;
	box-shadow: 0 0 50px 0 #000;
}
#main {
	float: left;
	width: 100%;
	max-width: 68%;
}
#secondary {
	float: right;
	width: 100%;
	max-width: 30%;
}



/* Elementos UI, sin semántica en el sitio */
#black-bar-header {
	margin: 0 0 18px;
	padding:17px 0;
	background:#000;
}
#black-bar-footer {
	margin: 18px 0 0;
	padding: 1em;
	min-height: 1em;
	background:#000;
	color: white;
}
.chromeframe {
	margin:0 auto;
	padding: .8em 5%;
	width: 90%;
	background: #E9BE37;
	text-align: center;

}

/* Tipografía */

.BebasNeueRegular {
	font-family: 'BebasNeueRegular', Impact, Helvetica, Arial, Sans-serif;
	font-weight: normal;
}
.MyriadProRegular {
	font-family: 'BebasNeueRegular', Helvetica, Arial, Sans-serif;
	font-weight: normal;
}




/*#########################################################################*/
				/* header */
/*#########################################################################*/
#header {
	padding: 35px 0 0;
	background: url('../img/header-pattern.png') top center repeat-x;
}
#site-name { display: none;}
#home-logo {
	display: block;
	float: left;
	margin: 0 0 0 30px;
	width: 183px;
	height: 113px;
	background: url('../img/logo.png') no-repeat;
}

/* iconos sociales*/
#header-social-icons {
	display: block;
	float: right;
	margin: 0 25px 0 0;
}
.social-icons {
	display: inline-block;
	margin: 0;
}
.social-icon {
	display: inline-block;
	width: 38px;
	height: 38px;
	background-size: contain;
}
.icon-twitter { background: url('../img/social-icon-tw.png');}
.icon-facebook { background: url('../img/social-icon-fb.png');}
.icon-youtube { background: url('../img/social-icon-yt.png');}


/********************** menu principal **************************/
.navigation {
	display: block;
	clear: right;
	float: right;
	margin: 20px 0 10px 0;
	padding-left: 28px;
	background: url('../img/navigation-bg.png') center left  no-repeat;
}
.navigation .menu,
.navigation .submenu,
.navigation .menu-item {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu {
	background: url('../img/navigation-bg-repeat-x.png') left center repeat-x;
}
.submenu {
	display: none;
	position: absolute;
	top: 100%;
	left:15%;
	background: #000;
	z-index: 10;
}
.menu-item {
	position: relative;
}
.menu-item > a {
	display: block;
	color: white;
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	font-weight: normal;
	text-decoration: none;
}
/* Elementos de menu de primer nivel */
.menu > .menu-item {
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 18px 18px 14px;
}
.menu > .menu-item > a {
	border-bottom: 2px solid transparent; 
	font-size: 18px;
	font-family: 'BebasNeueRegular', Impact, Helvetica, Arial, Sans-serif;
}
.menu > .menu-item > a:hover { border-bottom: 2px solid #fff; }

/* Segundo nivel */
.menu-item > .submenu {
	padding: .8em;
	width: 200%;
	max-width: 150%;
	box-shadow: 5px 5px 5px -5px #000;
}
.submenu > .menu-item > a {
	border-bottom: 1px solid #acacac;
	padding: .5em 0;
}
.submenu > .menu-item > a:hover {
	color: #ec4800;
}
.submenu > .menu-item:last-child > a {
	border-bottom: none;
}

/* Oculta subniveles */
.menu-item .submenu { display: none;}
.menu-item:hover .submenu {	display: block; }

/* Slider */

#slider {
	display: block;
	clear:both;
	margin: 0;
	padding:20px;
	background: #fb7737 url("../img/bg/bg-slider.jpg") center top;
	background-size: cover;
}
.flexslider {
	margin: 0 0 0 0;
	border: none ;
	box-shadow:0 10px 20px -2px rgba(0,0,0,.5);
	max-height: 345px;
}
.slide-description-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 310px;
	height: 100%;
	max-height: 345px;
	background: url("../img/bg/reticula.png") left top;
	z-index: 1;
}
.slide-description {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin: 26px auto;
	padding: 15px;
	width: 256px;
	height: 292px;
	color: #fff;
	background: rgb(37,37,37);
	background: rgba(0,0,0,.5);
	border-radius: 2px;
	white-space: normal;
	/*text-overflow: ellipsis;*/
	overflow:hidden;
}
.slide-title {
	font-weight: normal !important;
	font-size: 225%;
	letter-spacing: -1px;
}
.slide-excerpt p.date {
	text-align: right;
	font-style: italic;
}
.slide-excerpt p:last-child {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.flex-control-nav {
	position: absolute;
	right: 0;
	bottom: 5px;
	margin: 0;
	width: 100%;
	max-width: 310px;
	z-index: 10;
}
.flex-direction-nav a {
	background: url('../img/bg_direction_nav.png') no-repeat 0 0;
	width: 30px;
	height: 30px;
	margin: -20px 0 0;
	display: block;
	position: absolute;
	top: 50%; z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

/* Cambia reglas de plugin */
.flex-direction-nav .flex-next {background-position: 100% 0; right: 33%; }
.flex-direction-nav .flex-prev {left: 1%;}
.flexslider:hover .flex-next {opacity: 0.8; right: 33%;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 1%;}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	cursor: pointer;
	background: url('../img/bullet-orange.png') center center;
	border-radius: 20px;
	background-size: contain;
	box-shadow: none;

}
.flex-control-paging li a.flex-active {
	background: url('../img/bullet-orange-active.png') center center;
	box-shadow: 0 0 10px #fff;
	cursor: default;
}


/*#########################################################################*/
				/* Contenido */
/*#########################################################################*/
#content {
	margin: 0;
	padding: 0 0 1em;
}
.fancy-header {
	background: url('../img/bg/fancy-header.png');
	background-position:  center center;
	background-repeat:  repeat-x;
	border-bottom: 1px solid #da1502;
}
.fancy-header:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
}
.section-title,
.section-title-dropdown {
	padding: 0 10px;
	background: #f5f5f5;
	color: #da1502;
	font-family: 'BebasNeueRegular';
	font-size: 2em;
	text-align: left;
	float: left;
}
.section-title {
}
.fancy-arrows {
	background-image: url('../img/arrows-down-mini.png');
	background-position: 95% center;
	background-repeat:  no-repeat;
}
.section-subtitle {
	margin: .8em 0;
	font-size: 150%;
	font-weight: normal;
}
.lead {
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}
/* Frase descriptiva (Cita)*/
#main-quote {
	margin: 0;
	padding: .8em;
	text-transform: uppercase;
	color: #565656;
	font-size: 2em;
	text-align: center;
	text-shadow: 0 0 1px #565656;
}
#main-quote:before {
	display: inline-block;
	height: 40px;
	width: 56px;
	content: "";
	background: url('../img/quote-open.png') left top;
	vertical-align: text-top;
}
#main-quote:after {
	display: inline-block;
	margin: 0 0 0 0px;
	height: 40px;
	width: 56px;
	content: "";
	background: url('../img/quote-close.png') left top;
	vertical-align: text-top;
}
#main-quote .aLeft,
#main-quote .aRight, {
	display: inline-block;
}
#main-quote .aLeft {	margin-right: 4em; }
#main-quote .aRight {	margin-left: 4em; }

/* logos periódicos  */
.partners {
	margin: 10px auto;
	text-align: center;
}
.partner-logo {
	width: 100%;
	height: auto;
}
#content-inner {
	margin: 10px auto;
	padding: 20px 20px;
}

/* Página PERIODICOS */
.periodico {
	margin: 2em 0 2em ;
	padding: 0 0 2em 0;
	background: url('../img/fancy-hr.png') 50% 100% no-repeat;
}
.periodico-mapa {
	position: relative;
	display: block;
	float: left;
	border-bottom: 1px solid #c20003;
	width: 300px;
	height: 200px;
	background: #dfdfdf;
	overflow: hidden;
	box-shadow: 0 8px 15px -10px #000;
}
.periodico-mapa img {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: auto;
}
.periodico-meta {
	display: block;
	float: right;
	width: 100%;
	max-width: 48%;
	padding: 0 2%;
	vertical-align: top;
}
	.periodico-title {
		margin: 0;
		text-transform: uppercase;
		font-size: 125%;
		text-shadow:2px 2px 3px rgba(0, 0, 0, 0.36);
	}
	.periodico-logo {
		width: 100%;
	}
	.periodico-logo img {
		/*width: 100%;
		height: auto;*/
	}
	.periodico-info {
		margin: 0 0 .5em;
	}
	.periodico-link {
		display: block;
		float: left;
		color: #343434;
		color: inherit;
		text-decoration: none;
		font-size: 90%;
	}
	.periodico-descargar {
		display: block;
		float: right;
	}


/*#########################################################################*/
				/* SIDEBAR - LIBROS */
/*#########################################################################*/

.libro-item {
	padding:  2em 0;
	border-bottom: 1px solid gray;
}
/* para mayor compatibilidad agregar estilos por jquery */
.libro-item:last-child {
	border-bottom: none;
}
.libro_portada {
	margin: 0 1.5em 1em 0 !important;
	width: 100%;
	max-width: 155px;
	height: auto;
	max-height: 205px;
	box-shadow: 5px 5px 15px -5px #000;
}
.libro-titulo {
	padding: 0 0 .2em;
	color: #2f2f2f;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow:0 1px 1px #2f2f2f;
	letter-spacing: -1px;
}
.libro-item .fLeft {
	width: 100%;
	max-width: 140px;
}
.libro-item .fRight {
	width: 100%;
	max-width: 145px;
}

.libro-item ul {
	font-size: .8em;
	padding: 0 0 0 1em;
}
.libro-item ul li {
	margin: 0 0 0 10px;
}
#sidebar-libroV .libro-titulo {
	border-bottom: 1px solid #516b31;
}
#sidebar-libroR .libro-titulo {
	border-bottom: 1px solid #d20003;
}
.btn {
	display: block;
	border: 1px solid #bbbbbb;
	padding: 4px 14px;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-red {
	background-image: -webkit-linear-gradient(top, #de0003, #b40103);
	background-image: -o-linear-gradient(top, #de0003, #b40103);
	background-image: linear-gradient(to bottom, #de0003, #b40103);
	background-image: -moz-linear-gradient(top, #de0003, #b40103);
	color: white;

}
.btn-descargar-pdf {
	display: inline-block;
	width: 105px;
	height: 35px;
	background: url('../img/btn-descargar-pdf.png') center center no-repeat;
	background-size: contain;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	text-indent: -99999px;
	text-decoration: none;
	text-transform: uppercase;
}
.btn-descargar-pdf:hover {	box-shadow:inset 0 -1px 5px 0px rgba(0, 0, 0, .3); }
.btn-descargar-pdf:active {	box-shadow:inset 0px 1px 8px 0px #350000; }

#table-directorio,
#table-asesores {
	margin: 0 0 0 2em;
	width: 80%;
	border-collapse: collapse;
}

.table {
	border: 1px solid #ddd;
	border-radius: 4px;
}
.table tr:hover {
	background: #eee;
}
.table td {
	padding: 5px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #DDD;
}

.feature-list {
	font-size: 115%;
}
.feature-list li {
	margin: 0 0 .5em 0;
}

.historia-list-periodicos {
	display: block;
	margin: 0 auto;
	padding: 1%;
	width: 100%;
	max-width: 280px;
	list-style: none;
	border: 1px solid #dfdfdf;
	box-shadow: 0 10px 20px -10px #292929;
}


/*#########################################################################*/
				/* footer - pie de página */
/*#########################################################################*/

#footer {
	background: #A10204;
	color: #e0dfdf;
}
#footer a {
	color: #e0dfdf;
	text-decoration: none;
}

.footer-form-container {
	display: block;
	float: left;
	padding:10px 0 0 0;
	width: 100%;
	max-width: 33.33%;
	/*outline: 1px solid yellow;*/
}
.footer-form {
	margin: 0 auto;
	padding: 0 0 1em 0;
	width: 100%;
	max-width: 80%;
}
.footer-form label {line-height: 1.5em;}

.footer-form .btn-mini-red {
	display: block;
	border: none;
	width: 63px;
	height: 21px;
	background: url("../img/btn-mini-red.png") left top no-repeat;
	background-size: contain;
	color: white;
	cursor: pointer;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	text-transform: uppercase;
}
.footer-form sup { font-size: 1em;}
.footer-form input[type="text"],
.footer-form input[type="password"],
.footer-form textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 4px;
	/*border: 1px solid gray;*/
	border: none;
	padding: 2%;
	width: 96%;
	background: #e9e9e9;
	border-radius: 2px;
	box-shadow:inset 0px 1px 5px -1px rgb(0, 0, 0);
	color: #292929;
	line-height: 1.5em;
	font-family: 'MyriadProRegular', Helvetica, Arial, Sans-serif;
}
.footer-form textarea {
	overflow: hidden;
	margin: 0 0 1em 0;
}
.footer-form select {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 4px;
	border: none;
	background: #e9e9e9;
	padding: 2% 0 2% 2%;
	width: 96%;
	border-radius: 2px;
	box-shadow:inset 0px 1px 5px -1px rgb(0, 0, 0);
	color: #292929;
	font-family: 'MyriadProRegular', Helvetica, Arial, Sans-serif;
	line-height: 1.5em;
}
.footer-form option {
	color: #292929;
	font-family: 'MyriadProRegular', Helvetica, Arial, Sans-serif;
	line-height: 1.5em;

}

.f-form-title {font-size: 1.8em;}
.ff-separador-dark {
	margin: 0 0 1.5em 0;
	border: none;
	border-bottom: 1px solid #870d08;
}
.ff-separador-light {
	margin: 0 0 1.5em 0;
	border: none;
	border-bottom: 1px solid #a10204;
}
.ff-little-wrapper {margin: 0 20px;}
#footer-social-icons {margin: 5em 1em 0 0;}

/* Formulario de Acceso interno de footer */
#footer-form-container-acceso {}
.icon-ff-home {
	display: inline-block;
	margin: 0 10px 0 5px;
	width: 20px;
	height: 20px;
	background: url("../img/icon-home.png") left top no-repeat;
	background-size: contain;
	vertical-align: middle;
}
#ff-acceso-opciones-de-cuenta {
	color: #fff;
	font-size: 12px;
}
#ff-acceso-submit-container {
	margin-top: 20px;
}

/* Formulario de Cotizador online de footer */
#footer-form-container-cotizador {}
.icon-ff-calendar {
	display: inline-block;
	margin: 0 10px 5px 5px;
	width: 21px;
	height: 22px;
	background: url("../img/icon-calendar.png") left top no-repeat;
	background-size: contain;
	vertical-align: middle;
}
#ff-cotizador-last-otptions {
	margin: 5px 0 0 0 ;
}
#ff-cotizador-publicacion-container {
	/*width: 100%;*/
	/*max-width: auto;*/
}
#ff-contacto-fecha-publicacion {}
#ff-cotizador-submit {
	margin: 30px 0 0 0;
}


/* Formulario de Contacto de footer */
#footer-form-container-contacto {
	background: #790103 url('../img/arrow-left-red.png') 0 1em no-repeat;
}
.icon-ff-mail {
	display: inline-block;
	margin: 0 10px 0 5px;
	width: 25px;
	height: 15px;
	background: url("../img/icon-mail.png") left top no-repeat;
	background-size: contain;
	vertical-align: middle;
}
#footer-form-contacto {
}

#black-bar-footer a { color: #fff; text-decoration: none;}

#link-altus {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
#link-altus:hover {
	text-shadow: 0 0 5px #fff;
}



