@charset "UTF-8";
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue-webfont.ttf');
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular.otf');
}
body {
	color: #343434;
	font-family: "Myriad Pro", Helvetica, Arial, Sans-serif;
	font-size: 14px;
	background: #fff url('../img/bg/bg-site.jpg');
	background-size: cover;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
.clear {clear: both;}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.container {
	margin: 0 auto;
	max-width: 1024px;
}
#main-container {
	background:#fff;
	box-shadow: 0 0 50px 0 #000;
}


#black-bar-header {
	margin: 0 0 18px;
	height: 18px;
	background:#000;
}
#black-bar-footer {
	margin: 18px 0 0;
	padding: 1em;
	min-height: 1em;
	background:#000;
	color: white;
}


/* header */
#header {
	padding: 15px 0 0;
	background: #fff center top repeat-x;
}
#site-name { display: none;}
#home-logo {
	display: block;
	float: left;
	width: 183px;
	height: 113px;
	background: url('../img/logo.jpg') no-repeat;
}

/* iconos sociales*/
#social-icons {
	display: block;
	float: right;
}
.social-icon {
	display: inline-block;
	width: 38px;
	height: 38px;
	background-size: contain;
}
.icon-twitter { background: url('../img/social-icon-tw.png');}
.icon-facebook { background: url('../img/social-icon-fb.png');}
.icon-youtube { background: url('../img/social-icon-yt.png');}

/* menu principal */
#navigation {
	display: block;
	float: right;
	padding-left: 15px;
	background: url('../img/navigation-bg.png') right center;
}


#navigation ul,
#navigation ol {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu {}
.submenu {
}

.menu-item {
	display: inline-block;
}
.menu-item > a {
	display: block;
	padding: 18px 0;
	color: white;
	font-family: 'Bebas Neue', Helvetica, Arial, Sans-serif;
	font-size: 18px;
	text-decoration: none;
}
